#about {
  position: relative;
  padding-top: 30px;
  margin: 30px 0 0;
}

#profile-pic {
  height: auto;
  width: 179px;
  position: absolute;
  left: 0;
  top: -25px;
  border: 1px solid #4f84c4;
  border-radius: 20px;
  box-shadow: 3px 6px 3px #525252;
}

#about-header {
  display: inline-block;
  background-color: #eeeeee;
  width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #525252;
}

#main-heading {
  padding: 10px 5px 10px 189px;
  margin: 0;
  font-size: 30px;
  color: #101010;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

#about-basic {
  height: 252px;
  width: 90%;
  margin-left: 5%;
  background-color: #efefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: -1;
  padding: 0 15px;
  overflow: hidden;
  box-shadow: 3px 6px 3px #525252;
}

h2.about {
  margin: 0;
  text-align: center;
  color: #101010;
  padding: 15px 0 10px;
  font-family: 'Times New Roman', Times, serif;
}

p.about {
  font-size: 16px;
  color: #202020;
}

p.about > span.placeholder {
  padding-left: calc(164px - 5px/3 - 50%/9);
}

#toggle-about-basic {
  position: absolute;
  bottom: -4px;
  right: calc(5% - 4px);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(99, 200, 382);
  z-index: 2;
  box-shadow: 3px 6px 3px #525252;
  cursor: pointer;
}

#toggle-about-basic:hover {
  background-color: rgb(89.1, 180, 344);
}

#toggle-about-basic:focus {
  outline: none;
}

/* ------------------------------------------------------------------ */
/* Animations */

/* open/close about section */
@keyframes open {
  from { height: 252px; }
  to { height: 360px; }
}

@keyframes close {
  from { height: 360px; }
  to { height: 252px; }
}

/* Flip arrow animation for about open/close button */
/* -- Source: https://stackoverflow.com/questions/5406368/can-you-use-css-to-mirror-flip-text (user: Duopixel) */
@keyframes flip-up {
  from {
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  to {
      -moz-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);        
  }
}

@keyframes flip-down {
  from {
      -moz-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);   
  }
  to {
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
  }
}

/* Fade in/out animation (for text on open/close button) */
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;      
  }
}

@keyframes fade-out {
  from {
      opacity: 1;  
  }
  to {
      opacity: 0;
  }
}

/* ------------------------------------------------------------------ */
/* Breakpoints */

/* Large */
@media screen and (max-width: 1199px) {
  #about-basic {
      height: 296px;
  }

  @keyframes open {
      from { height: 296px; }
      to { height: 435px; }
  }

  @keyframes close {
      from { height: 435px; }
      to { height: 296px; }
  }
}

/* Medium */
@media screen and (max-width: 991px) {
  p.about > span.placeholder {
      display: none;
  }

  #about-basic {
      height: 365px;
  }

  @keyframes open {
      from { height: 365px; }
      to { height: 554px; }
  }

  @keyframes close {
      from { height: 554px; }
      to { height: 365px; }
  }
}

/* Small */
@media screen and (max-width: 767.5px) {
  #profile-pic {
    top: 0;
    height: 200px;
    width: auto;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  #about {
    padding-top: 5px;
  }

  #about-basic {
    height: 464px;
  }

  @keyframes open {
      from { height: 464px; }
      to { height: 720px; }
  }

  @keyframes close {
      from { height: 720px; }
      to { height: 464px; }
  }
}

/* Extra Small (a little smaller than Bootstrap "xs") */
@media screen and (max-width: 551px) {
  #profile-pic {
      position: static;
      float: left;
      border-bottom-left-radius: 0;
      margin-right: 15px;
  }

  #main-heading {
      padding-left: 5px;
  }

  #about {
      padding-top: 5px;
  }

  #about-basic {
      height: 630px;
  }

  @keyframes open {
      from { height: 630px; }
      to { height: 962px; }
  }

  @keyframes close {
      from { height: 962px; }
      to { height: 630px; }
  }
}

/* Double Extra Small */
@media screen and (max-width: 415px) {
  @keyframes open {
      from { height: 630px; }
      to { height: 979px; }
  }

  @keyframes close {
      from { height: 979px; }
      to { height: 630px; }
  }
}

/* Smallest (of main breakpoints) */
@media screen and (max-width: 380px) {
  h1#main-heading {
      margin-top: 30px;
  }

  h1#main-heading > span {
      display: inline-block;
      max-width: 115px;
      margin-bottom: 50px;
  }

  #about-basic {
      height: 726px;
  }

  @keyframes open {
      from { height: 726px; }
      to { height: 1103px; }
  }

  @keyframes close {
      from { height: 1103px; }
      to { height: 726px; }
  }
}

/* Special breakpoint for About section.
  (prevents scroll bar from covering section header on super small screen)
*/
@media screen and (max-width: 348px) {
  #about-header {
      width: calc(100% - 10px);
  }
  
  #about-basic {
      margin-left: auto;
      margin-right: auto;
  }
}